*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #219ebc;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    cursor: pointer;
    background-color: #023047;
}

/* Spliting the container into two parts 1 for students-info and 2nd for student details  */
#split-container{
    height: 100vh;
    width: 100%;
    display: grid;
    border: 2px solid #8ecae6;
    gap: 0 2px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "header header"
    "main main2"
    "main main2"
    "main main2";
}

#header{
    grid-area: header;
    place-items: center;
    align-content: center;
    background-color: #023047;
    color: white;
}

#main{
    grid-area: main;
    place-items: center;
    align-content: center;
    background-color: #219ebc;
}
#main  h1{
    color: #023047;
}
#main2{
    grid-area: main2;
    place-content: center;
    background-color: #8ecae6;
    padding: 20px;
}
#main2 h1{
    text-align: center;
    color: #023047;
}



/* styling for the left side section */
#student-details{
    min-height: 50vh;
    width: 25vw;
    border: 2px solid #023047;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color: #8ecae6;
}
form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
form input{
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
form label{
    margin-bottom: 5px;
}
#register-btn{
    width: 100%;
    text-align: center;
}
#register-btn input{
    background-color: #023047;
    color: white;
    cursor: pointer;
    transition: .5s ease-in-out;
}
#register-btn input:hover{
    transform: scale(1.1);
    background-color: green;
}






/* styling for right side section */
.static-content{
    border-bottom: 2px solid #023047;
    padding: 4px 0;
}
.static-content h3{
    width: 200px;
    display: inline-block;
    text-align: center;
}

#reg_students{
    max-height: 70vh;
    overflow: auto;
    width: 60vw;
    border: 2px solid #023047;
    background-color: #219ebc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    /* margin: 10px; */
}



/* styling for dynamically added elements */
.newPara{
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 20px;
    width: 200px;
}
.name .newDiv:nth-of-type(even){
    background-color: #fb8500;
}
.newDiv{
    height: 80px;
    width: 90%;
    border: 2px solid #023047;
    background-color: #ffb703;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.btn{
    padding: 10px;
    background-color: #023047;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    width: 60px;
    margin: 0 10px;
}
.btn2{
    background-color: #023047;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: red;
    cursor: pointer;
    padding: 10px;
    width: 60px;
}
#flexDiv{
    width: 100%;
}














